<footer class="footer">
  <div class="container">
    <div class="row">
     <div id="mc_embed_signup" class="newsletter-subscribe newsletter-heading">
      <div class="col-lg-2 col-lg-offset-1 col-sm-2 col-md-1 col-md-offset-1">
        <p>
          <strong><a href="https://personalized-ux.sammyschuckert.de">Personalized UX</a></strong>
        </p>
      </div>
      <div class="col-lg-6 col-sm-8 text-center">
       <form action="//sammyschuckert.us14.list-manage.com/subscribe/post?u=76b09a9c5846d6c44558f215e&amp;id=7e78c352ad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group form-group">
            <input class="form-control required email" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Your Email" />
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_76b09a9c5846d6c44558f215e_7e78c352ad" tabindex="-1" value="">
          </div>
          <div class="form-group">
              <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" >Subscribe</button>
         </div>
       </div>
     </form>
   </div>

<div class="col-lg-2 col-sm-2 col-md-2">
        <p class="text-left">
         <strong>by <a href="https://twitter.com/sammyschuckert">Sammy Schuckert</a></strong>
        </p>
      </div>
 </div>
</div>
</div>
</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/link-headings.js" | prepend: site.baseurl }}"></script>