     <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <div class="note">
  <p>Greetings, reader! The this book is <strong>work in progress</strong>. You will encounter incomplete thoughts, grammar errors, and more. I invite y'all to contribute and collaborate with me on creating this book. You can <a target="_blank" href="https://github.com/sammyschuckert/personalized-user-experience/">submit an issue on Github</a> or jump over into the <a target="_blank" href="https://drive.google.com/open?id=1gL_2GBlqYGmZcM9gt3_9P4Ow09OsaTJQ">Google Docs</a> and start commenting right away. Thank you so much and happy reading!</p>
</div>
</div>