     <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <div class="note">
  <p>Greetings, reader! The following text is a <strong>work in progress</strong> so be warned you will encounter incomplete thoughts, grammar errors, and more. If you see something worth fixing, please <a href="https://github.com/sammyschuckert/personalized-user-experience/">submit an issue on Github</a>. Thanks and happy reading!</p>
</div>
</div>