<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img src="img/book-cover.png">
				</div>
				<div class="col-sm-6 text">
					<h2>Personalized User Experience <del>is</del> <ins>will be</ins> a book by <a target="_blank" href="https://sammyschuckert.de/?utm_source=PUX&utm_medium=Landingpage&utm_campaign=PUX">Sammy Schuckert</a>.</h2>
					<p><strong>How might we find proper rules to describe, decide for and manage adaptation in user interfaces?</strong></p>
					<p>This book identifies challenges for the design of user interfaces that adapt to their users, their environment and their tasks to answer this question. Six principles and several strategies will help designers of these user interfaces to overcome the identified challenges.</p>
					<a href="{{ "/table-of-contents" | prepend: site.baseurl }}" role="button" class="btn btn-primary btn-lg">Read now</a>
					<a href="{{ "/preorder" | prepend: site.baseurl }}" role="button" class="btn btn-primary btn-lg">Preorder the Book</a>
					<a target="_blank" href="https://www.buymeacoffee.com/sammy" role="button" class="btn btn-primary btn-lg"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Or buy me a coffee"><span style="margin-left:10px">Or buy me a coffee</span></a>
					<hr>
					<p class="disclaimer">This book is personal and does not represent IBM’s positions, strategies or opinions.<p>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
</body>
</html>