---
layout: default
---
<div class="content">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<h1>{{ page.title }}</h1>
<nav role="navigation" class="toc">
    <ul class="toc-list">
    	<li>
            <a href="/chapter-0">
	            <span></span>
                <h3>0. Preface</h3>               
            </a>
        </li>
        <li>
            <a href="/chapter-1">
	            <span></span>
                <h2>1. Introduction</h2>
            </a>
        </li>
        <li>
            <a href="/chapter-2">
                <h2>2. Conditions Clear</h2>
            </a>
        </li>
        <li>
            <a href="/chapter-3">
                <h2>3. Escaping the design culture of average</h2>
            </a>
        </li>
        <li>
            <a href="/chapter-4">
                <h2>4. Principles of adaptive design</h2>
            </a>
        </li>
        <li>
            <a href="/chapter-5">
                <h2>5. Create a maintainable adaptive design strategy</h2>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/thanks">
                <h3>Thanks &amp; Acknowledgements</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/references">
                <h3>References</h3>
            </a>
        </li>
        <li class="toc-li-minor">
        	<a href="/author">
                <h3>About the Author</h3>
            </a>
        </li>
    </ul>
</nav>
<div class="text">
{{ content }}
</div>
</div>
</div>
</div>
